<!DOCTYPE HTML>
    <html>
    <head>

     </head>
    <body>

<h1> Hola!
    <p>You are now on the File system page. It chronicles
    my struggles with the fileSystem<br>
    I'm also using a picture of this comrade as a stallin'<br>
    tactic to keep you from realising theres not much to do here.
    I think it's working rather well.
</p>
    <img src="img.jpg"/>
    </body>
    </html>
