<!DOCTYPE HTML>
    <html>
    <head>
        <link type="text/css" rel="stylesheet" href="index.css"/>
        <title>I rly dont</title>

     </head>
    <body>

        <h1> Frankly + + I just don't give a damn. </h1>

<p> you may - if you wish - have a look at some of my finer moments </p>

    <ul>
        {{#array}}
    <li> <img height="250px" width="200px" src= {{img}} /> <a href= {{link}} >  {{name}} </a> </li>
        {{/array}}
    </ul>

    </body>
    </html>
