 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Probing questions</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
     <form action="/moar" method="POST">
     How young are you? <input type="text" name="age"></input><br>
     Which city do you live in? <input type="text" name="city"></input><br>
     Do you have a homepage? <input type="text" name="homepage"></input><br>
     What's your fav color? <input type="text" name="color"></input><br>
     <input value="Submit" type="submit"></input>
    </form>
 </body>

 </html>
