 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>lUsers</title>
     <meta name="description" content="DESCRIPTION">
    <!-- <link rel="stylesheet" href="PATH" type=> -->

     <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
 </head>

 <body>
   <h2> Hello there, {{cookieName}}, I have been expecting you </h2>
    <ul>
   {{#myUsers}}
      <li> {{id}} {{first_name}} {{last_name}}
   {{/myUsers}}
   </ul>
   </script>
   "ctrl-alt-o": "application:add-project-folder",
 </body>

 </html>
