<!DOCTYPE HTML>
    <html>
    <head>

     </head>
    <body>

<h1> Yo momma  </h1>
    <p>
        is like my thoughts on socio-economics:
        Every worker get's a share. <br>
            -Karl Marx
        </p>

        <h3> Take a break from the struggle and revolutionize
            your playlist with a whole new class of music search! </h3>
        <a href="/spotifyify/index.html"> Redistribute the music! </a>
    <img src="img.jpg"/>
    </body>
    </html>
