<!DOCTYPE HTML>
    <html>
    <head>

     </head>
    <body>

<h1>  All capitalist swine must hang!
    <p>
        But revolitions are hard work! That's why comrade
        Che brings you this cool game you can play while<br>
        retaking the memes of production.
    Cuba Libre bros!
        </p>
    <img src="img.jpg"/>
    </body>
    </html>
