<!DOCTYPE HTML>
    <html>
    <head>

     </head>
    <body>


    {{>header}}


<h1> Wat's that {{firstName}} ?</h1>
    <p>
    Haven't you heard the news? Check out what's new in
    the world of EVE online by the power of the Greater Majority

    {{link}}

    Comrade Lenin approves of this Popaganda!
        </p>

    <img src="img.jpg"/>
    </body>
    </html>
