<!doctype HTML>
<html>
<header>
</header>
<body>
    Yo! This is my countdown page! Nothing really happens here
    because I need to figure out how to make it work in HTML.
    Feel free to shuffle your feet now.
    Also a picture of Glorious Leader Mao.
    <img height="300px" width="280px" src= "img.jpg" />
</body>
