<!DOCTYPE HTML>
    <html>
    <head>

     </head>
    <body>

<h1> Wat's that? </h1>
    <p>
    Haven't you heard the news? Check out what's new in
    the world of EVE online by the power of the Greater Majority<br>


    <h2> Comrade Lenin approves of this Popaganda! </h3>
        </p>

    <img src="img.jpg"/>
    </body>
    </html>
