<!DOCTYPE HTML>
    <html>
    <head>

     </head>
    <body>

<h1>  All capitalist swine must hang! </h1>
    <p>
        But revolitions are hard work! That's why comrade
        Che brings you this cool game you can play while<br>
        retaking the memes of production.
    <a href="/hanger/index.html"> <h3> Cuba Libre bros! </h3> </a>
        </p>
    <img src="img.jpg"/>
    </body>
    </html>
